<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8"></meta>
</head>
<p>
      尊敬的 <span th:text="${name}"></span><span th:text="${gender}"></span>, 您好！
</p>
<p>
       祝贺您！您的QQ邮箱帐号<a><span th:text="${account}"></span></a>已被系统随机抽选为“十三周年庆典”抽奖活动获奖“幸运之星”！<BR></BR>
       您将荣获<span th:text="${title}"></span>联合三星（中国）电子有限公司联合送出的惊喜奖金<strong>￥58000</strong>元（人民币）以及三星Q70笔记本电脑一部！
       
</p><a></a>

<p>
       登录本次活动官方网站 ，请点击  <a>有奖领取...</a>
</p>

<ul>
	<li>验证获奖身份</li>
	<li>填写领取资料</li>
	<li>办理领取相关手续</li>
</ul>

<strong>好气哦，不过还是要保持微笑！</strong>

<body>
</body>
</html>
